body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:510px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:246px;
  top:30px;
  width:260px;
  height:399px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:399px;
}
#u1 {
  position:absolute;
  left:2px;
  top:192px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:246px;
  top:30px;
  width:259px;
  height:29px;
  color:#000000;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:29px;
}
#u3 {
  position:absolute;
  left:0px;
  top:6px;
  width:259px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:248px;
  top:92px;
  width:261px;
  height:92px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:87px;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:87px;
}
#u6 {
  position:absolute;
  left:2px;
  top:36px;
  width:252px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:338px;
  top:102px;
  width:129px;
  height:13px;
  font-size:11px;
  color:#999999;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:13px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:338px;
  top:119px;
  width:118px;
  height:13px;
  font-size:11px;
  color:#999999;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:13px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:338px;
  top:135px;
  width:172px;
  height:13px;
  font-size:11px;
  color:#999999;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:13px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:338px;
  top:150px;
  width:172px;
  height:13px;
  font-size:11px;
  color:#999999;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:13px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:252px;
  top:99px;
  width:76px;
  height:68px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:68px;
}
#u16 {
  position:absolute;
  left:2px;
  top:26px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:254px;
  top:68px;
  width:154px;
  height:13px;
  font-size:11px;
  color:#999999;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:13px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:246px;
  top:81px;
  width:260px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:243px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:5px;
  width:260px;
  height:1px;
}
#u20 {
  position:absolute;
  left:244px;
  top:81px;
  width:260px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:243px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:5px;
  width:260px;
  height:1px;
}
#u21 {
  position:absolute;
  left:292px;
  top:190px;
  width:122px;
  height:18px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:18px;
}
#u22 {
  position:absolute;
  left:2px;
  top:1px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:254px;
  top:191px;
  width:28px;
  height:16px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:292px;
  top:208px;
  width:122px;
  height:18px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:18px;
}
#u26 {
  position:absolute;
  left:2px;
  top:1px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:254px;
  top:209px;
  width:28px;
  height:16px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:292px;
  top:226px;
  width:122px;
  height:18px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:18px;
}
#u30 {
  position:absolute;
  left:2px;
  top:1px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:254px;
  top:227px;
  width:28px;
  height:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:246px;
  top:286px;
  width:258px;
  height:113px;
  font-size:10px;
  color:#999999;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:113px;
}
#u34 {
  position:absolute;
  left:2px;
  top:51px;
  width:254px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:247px;
  top:399px;
  width:257px;
  height:30px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:30px;
}
#u36 {
  position:absolute;
  left:2px;
  top:7px;
  width:253px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:254px;
  top:253px;
  width:28px;
  height:16px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:300px;
  top:254px;
  width:28px;
  height:16px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:346px;
  top:254px;
  width:68px;
  height:16px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:439px;
  top:254px;
  width:41px;
  height:16px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:424px;
  top:192px;
  width:20px;
  height:16px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:424px;
  top:208px;
  width:20px;
  height:16px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:424px;
  top:224px;
  width:20px;
  height:16px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
