<ion-view view-title="配送服务">
    <ion-content>
        <div class="list card">
            <div class="item item-divider item-balanced">
                平台配送时间：
            </div>
            <a class="item item-text-wrap" href="#">
                易凡平台提供全天配送（包含周末和节假日，如有特殊情况另行通知）。
            </a>
        </div>
        <div class="list card">
            <div class="item item-divider item-balanced">
                配送方式及费用：
            </div>
            <a class="item item-text-wrap" href="#">
                易凡平台采用的是送货上门的配送方式，全场商品满29元包邮。
            </a>
        </div>
        <div class="list card">
            <div class="item item-divider item-balanced">
                配送范围：
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">
                碑林区：
            </div>
            <a class="item item-text-wrap" href="#">
                南院门街道、柏树林街道、长乐坊街道、东关南街街道、太乙路街道、文艺路街道、长安路街道、张家村街道
            </a>
            <div class="item item-divider">
                灞桥区：
            </div>
            <a class="item item-text-wrap" href="#">
                纺织城街道、十里铺街道、红旗街道、席王街道、洪庆街道、狄寨街道、灞桥街道、新筑街道、新合街道
            </a>
            <div class="item item-divider">
                长安区：
            </div>
            <a class="item item-text-wrap" href="#">
                韦曲街道、郭杜街道、引镇街道、王寺街道、滦镇街道、马王街道、太乙宫街道、东大街道、子午街道、斗门街道、细柳街道、杜曲街道、大兆街道、兴隆街道、黄良街道
            </a>
            <div class="item item-divider">
                莲湖区：
            </div>
            <a class="item item-text-wrap" href="#">
                青年路街道、北院门街道、北关街道、红庙坡街道、环城西路街道、西关街道、土门街道、桃园路街道、枣园街道
            </a>
            <div class="item item-divider">
                未央区：
            </div>
            <a class="item item-text-wrap" href="#">
                张家堡街道、三桥街道、辛家庙街道、徐家湾街道、大明宫街道、谭家街道、草滩街道、未央宫街道、汉城街道、六村堡街道
            </a>
            <div class="item item-divider">
                新城区：
            </div>
            <a class="item item-text-wrap" href="#">
                西一路街道、长乐中路街道、中山门街道、韩森寨街道、解放门街道、自强路街道、太华路街道、长乐西路街道、胡家庙街道
            </a>
            <div class="item item-divider">
                雁塔区：
            </div>
            <a class="item item-text-wrap" href="#">
                小寨路街道、大雁塔街道、长延堡街道、电子城街道、等驾坡街道、鱼化寨街道、丈八沟街道、曲江街道
            </a>
            <div class="item item-divider">
                高新区：
            </div>
            <a class="item item-text-wrap" href="#">
                全部地区
            </a>
        </div>
    </ion-content>
</ion-view>
