<ion-view view-title="数据统计">
  <ion-content class="stable-bg">
    <div class="row">
      <ion-item class="col menu-item mg10" ng-href="#/tongji">
        <!-- <div class="icon assertive ion-waterdrop"></div> -->
        <img src='img/yonghutongji.jpg' style="width:60%">
        <br/>
        <label class='description balanced'>销量统计</label>
      </ion-item>
      <ion-item class="col  menu-item mg10" ng-href="#/tongji">
        <img src='img/shangjiatongji.jpg' style="width:60%">
        <br/>
        <label class='description balanced'>访问统计</label>
      </ion-item>
      <ion-item class="col  menu-item mg10" ng-href="#/tongji">
        <img src='img/dingdantongji.jpg' style="width:60%">
        <br/>
        <label class='description balanced'>订单统计</label>
      </ion-item>
    </div>
    <div class="row ">
      <ion-item class="col menu-item mg10" ng-href="#/tongji">
        <!-- <div class="icon assertive ion-waterdrop"></div> -->
        <img src='img/kucuntongji.jpg' style="width:60%">
        <br/>
        <label class='description balanced'>库存统计</label>
      </ion-item>
      <ion-item class="col menu-item mg10" ng-href="#/tongji">
        <img src='img/shourutongji.jpg' style="width:60%">
        <br/>
        <label class='description balanced'>利润统计</label>
      </ion-item>
      <ion-item class="col menu-item mg10" ng-href="#/tongji">
       <img src='img/sunhaotongji.jpg' style="width:60%">
       <br/>
       <label class='description balanced'>损耗统计</label>
      </ion-item>
    </div>
  </ion-content>
</ion-view>
