<ion-view view-title="门店">
 <ion-nav-buttons side="right">
 <button ng-click="doFavorite(store.id)" ng-class="favorite?'button-energized':'button-light'" class="button button-clear icon-right ion-ios-star"></button>
</ion-nav-buttons>
  <ion-content class="stable-bg">
    <ion-slide-box delegate-handle="slide-ads" does-continue="true" auto-play="true">
      <ion-slide ng-repeat="cover in store.pics">
        <img style="width:100%" ng-src="{{cover.img}}">
      </ion-slide>
    </ion-slide-box>
    <ion-list>
      <ion-item>
        <div class="row">
          <div class="col"><h2>{{store.name}}</h2></div>
          <div class="col grey">
            评价：
            <ng-stars counter="store.star_score"></ng-stars>
            <br/>
            企业信誉：
            <label>{{store.credit_score}}</label>
          </div>
        </div>
      </ion-item>
      <ion-item>
       {{store.address}}
      </ion-item>
      <ion-item>
        <div class="grey item-text-wrap">
          <p>
            {{store.intro}}
          </p>
        </div>
      </ion-item>
    </ion-list>
    <div class="separate-big"></div>
    <ion-list>
      <ion-item class="grey">
        热门服务项目
      </ion-item>
      <ion-item class="item-thumbnail-left" ng-repeat="service in store.services"
                ng-show="isShowAllService === true || $index <= 3 - 1">
        <img ng-src="{{service.cover}}">

        <h2>{{service.name}}</h2>
        <label class="assertive">{{service.price}}</label> 元
        <p>
          {{service.resume}}
        </p>
        <!--<button ng-repeat="service in store.services" class="button-small button button-outline button-calm"-->
        <!--style="margin:4px;">{{service.name}}-->
        <!--</button>-->
        <!--<div class="separate"></div>-->
        <!--<div class="button-bar">-->
        <!--<button class="button button-small" ng-click="showProducts('00')">免费服务</button>-->
        <!--<button class="button  button-small" ng-click="showProducts('01')">特价项目</button>-->
        <!--<button class="button button-small" ng-click="showProducts()">本店商品</button>-->
        <!--</div>-->
      </ion-item>
      <a class="item calm text-center" ng-if="!isShowAllService && store.services.length > 3"
         ng-click="showAllService()">
        <!--<a class="calm" >展开 <i class="icon ion-ios-arrow-down"></i></a>-->
        展开 <i class="icon ion-ios-arrow-down"></i>
      </a>
      <a class="item calm text-center"
         ng-if="(isShowAllService && store.services.length > 3) || store.services.length <= 3"
         ng-click="showProducts('01')">
        显示特价项目 <i class="icon ion-ios-arrow-right"></i>
      </a>
      <a class="item calm text-center"
         ng-if="(isShowAllService && store.services.length > 3) || store.services.length <= 3"
         ng-click="showProducts('00')">
        显示免费项目<i class="icon ion-ios-arrow-right"></i>
      </a>
      <a class="item calm text-center"
         ng-if="(isShowAllService && store.services.length > 3) || store.services.length <= 3"
         ng-click="showProducts('00')">
        显示所有<i class="icon ion-ios-arrow-right"></i>
      </a>
    </ion-list>
    <div class="separate-big"></div>
    <ion-list>
      <ion-item class="item-text-wrap ">
        <div class="grey">
          关于我们
        </div>
        <!--<div class="separate"></div>-->
        <!--<button class="button-small button button-dark  button-outline"-->
        <!--style="margin:2px;">公司资质-->
        <!--</button>-->
        <!--<button class="button-small button-outline button-dark button "-->
        <!--style="margin:2px;">公司团队-->
        <!--</button>-->
        <!--<button class="button-small button button-dark  button-outline"-->
        <!--style="margin:2px;">公司案例-->
        <!--</button>-->
        <!--<button class="button-small button button-dark  button-outline"-->
        <!--style="margin:2px;">公司产品-->
        <!--</button>-->
      </ion-item>

      <ion-item class="item-icon-right grey">
        查看地图
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right grey">
        车主点评
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right grey">
        附近店铺
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right grey">
        附近促销
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
