body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:500px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:240px;
  top:50px;
  width:260px;
  height:410px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:410px;
}
#u1 {
  position:absolute;
  left:2px;
  top:197px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:241px;
  top:50px;
  width:259px;
  height:29px;
  color:#000000;
  text-align:center;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:29px;
}
#u3 {
  position:absolute;
  left:0px;
  top:6px;
  width:259px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:247px;
  top:56px;
  width:9px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:240px;
  top:136px;
  width:265px;
  height:69px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:64px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:64px;
}
#u8 {
  position:absolute;
  left:2px;
  top:24px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:250px;
  top:140px;
  width:153px;
  height:13px;
  font-size:11px;
  color:#999999;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:13px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:250px;
  top:161px;
  width:172px;
  height:13px;
  font-size:11px;
  color:#999999;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:13px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:250px;
  top:184px;
  width:172px;
  height:13px;
  font-size:11px;
  color:#999999;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:13px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:260px;
  top:89px;
  width:190px;
  height:25px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u16 {
  position:absolute;
  left:460px;
  top:89px;
  width:30px;
  height:25px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
}
#u17 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:240px;
  top:200px;
  width:265px;
  height:69px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:64px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:64px;
}
#u20 {
  position:absolute;
  left:2px;
  top:24px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:250px;
  top:204px;
  width:153px;
  height:13px;
  font-size:11px;
  color:#999999;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:13px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:250px;
  top:225px;
  width:172px;
  height:13px;
  font-size:11px;
  color:#999999;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:13px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:250px;
  top:248px;
  width:172px;
  height:13px;
  font-size:11px;
  color:#999999;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:13px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
