body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:500px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:240px;
  top:80px;
  width:260px;
  height:399px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:399px;
}
#u1 {
  position:absolute;
  left:2px;
  top:192px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:248px;
  top:205px;
  width:136px;
  height:13px;
  font-size:11px;
  color:#999999;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:13px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:240px;
  top:61px;
  width:259px;
  height:29px;
  color:#000000;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:29px;
}
#u5 {
  position:absolute;
  left:0px;
  top:6px;
  width:259px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:248px;
  top:100px;
  width:42px;
  height:41px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:41px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:300px;
  top:107px;
  width:69px;
  height:13px;
  font-size:11px;
  color:#999999;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:13px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:300px;
  top:120px;
  width:59px;
  height:13px;
  font-size:11px;
  color:#999999;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:13px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:240px;
  top:143px;
  width:259px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:242px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:5px;
  width:259px;
  height:1px;
}
#u13 {
  position:absolute;
  left:248px;
  top:170px;
  width:239px;
  height:30px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u14 {
  position:absolute;
  left:457px;
  top:177px;
  width:23px;
  height:18px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:18px;
}
#u15 {
  position:absolute;
  left:2px;
  top:1px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:248px;
  top:230px;
  width:239px;
  height:30px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u17 {
  position:absolute;
  left:250px;
  top:280px;
  width:239px;
  height:30px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u18 {
  position:absolute;
  left:457px;
  top:236px;
  width:23px;
  height:18px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:18px;
}
#u19 {
  position:absolute;
  left:2px;
  top:1px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:399px;
  top:280px;
  width:90px;
  height:30px;
  color:#FF0000;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:250px;
  top:320px;
  width:46px;
  height:13px;
  font-size:11px;
  color:#999999;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:13px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:270px;
  top:343px;
  width:217px;
  height:20px;
  font-size:11px;
  color:#999999;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:20px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:240px;
  top:449px;
  width:260px;
  height:30px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:30px;
}
#u27 {
  position:absolute;
  left:2px;
  top:7px;
  width:256px;
  word-wrap:break-word;
}
