{% extends "layout/user.html" %}
{% block subcontent %}
<link rel="stylesheet" href="/style2/css/user.css" type="text/css" media="screen">


<h1> 价格管理 </h1>
<div class="content sector">

    {%set messages=handler.get_flashed_messages() %}
    {%-if messages-%}
    <div style="color: red; font-size: 0.6em; margin-bottom: 25px;">
        {% for type, msg in messages%}
        {{msg}}
        {% endfor %}
    </div>
    {%-endif-%}
    <form class="form-horizontal" role="form" action="/user/editprice/{{p.id}}/{{s.id|default('0')}}" method="post">
        {{xsrf()}}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    {% if s %}
                    修改价格
                    {% else %}
                    新建价格
                    {% endif %}
                </h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label">规格信息</label>
                    <div class="col-sm-10">
                        <input class="form-control" name="sname" type="text"
                               value="{{s.name|null}}" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" >
                        提取规格(克)
                    </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="sweight" id="sweight" value="{{s.weight}}">
                    </div>
                </div>
                <div class="form-group" style="display: none;">
                    <label class="col-sm-2 control-label" >
                        关联规格列表
                    </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="srelations" value="{{s.relations}}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" >
                        是否前台显示
                    </label>
                    <div class="col-sm-10">
                        <label class="radio-inline">
                            <input type="radio" value="1" name="is_show" {{s.is_show != 0 and 'checked' or ''}}>显示
                        </label>
                        <label class="radio-inline">
                            <input type="radio" value="0" name="is_show"{{s.is_show == 0 and 'checked' or ''}}>不显示
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" >
                        市场价
                    </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="orginalprice" value="{{s.orginalprice}}" placeholder="用于显示市场价格">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" >
                        销售价（车主）
                    </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="price" id="price" value="{{s.price}}" placeholder="用于普通用户购买价">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" >
                        销售价（门店）
                    </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="ourprice" id="ourprice" value="{{s.ourprice}}" placeholder="用于门店购买价">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" >
                        批发价
                    </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="pf_price" id="pf_price" value="{{s.pf_price}}" placeholder="用于经销商进货">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" >
                    </label>
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-success">保存</button>
                    </div>
                </div>
            </div>
        </div>


    </form>
</div>
{% endblock %}
{% block js %}
<script>
    $(function() {
//        $("#price").blur(function(){
//            var p = parseFloat($('#price').val())*500/parseFloat($('#sweight').val());
//            $('#ourprice').val(p.toFixed(1));
//        });
//        $("#ourprice").blur(function(){
//            var p = parseFloat($('#ourprice').val())/500*parseFloat($('#sweight').val());
//            $('#price').val(p.toFixed(1));
//        });
    });
</script>
{% endblock %}