body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:500px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:240px;
  top:66px;
  width:260px;
  height:399px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:399px;
}
#u1 {
  position:absolute;
  left:2px;
  top:192px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:240px;
  top:61px;
  width:259px;
  height:29px;
  color:#000000;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:29px;
}
#u3 {
  position:absolute;
  left:0px;
  top:6px;
  width:259px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:370px;
  top:440px;
  width:130px;
  height:25px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u5 {
  position:absolute;
  left:240px;
  top:440px;
  width:130px;
  height:25px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u6 {
  position:absolute;
  left:240px;
  top:170px;
  width:265px;
  height:264px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:259px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:259px;
}
#u8 {
  position:absolute;
  left:2px;
  top:122px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:250px;
  top:175px;
  width:166px;
  height:13px;
  font-size:11px;
  color:#999999;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:13px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:250px;
  top:192px;
  width:153px;
  height:13px;
  font-size:11px;
  color:#999999;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:13px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:250px;
  top:208px;
  width:172px;
  height:13px;
  font-size:11px;
  color:#999999;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:13px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:250px;
  top:101px;
  width:40px;
  height:39px;
  color:#FFFFFF;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:39px;
}
#u16 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:313px;
  top:100px;
  width:40px;
  height:39px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:39px;
}
#u18 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:440px;
  top:100px;
  width:40px;
  height:39px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:39px;
}
#u20 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:376px;
  top:100px;
  width:40px;
  height:39px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:39px;
}
#u22 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:288px;
  top:114px;
  width:25px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:8px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:5px;
  width:25px;
  height:1px;
}
#u24 {
  position:absolute;
  left:351px;
  top:114px;
  width:25px;
  height:10px;
}
#u24_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:8px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:5px;
  width:25px;
  height:1px;
}
#u25 {
  position:absolute;
  left:415px;
  top:114px;
  width:25px;
  height:10px;
}
#u25_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_end {
  position:absolute;
  left:8px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_line {
  position:absolute;
  left:0px;
  top:5px;
  width:25px;
  height:1px;
}
#u26 {
  position:absolute;
  left:250px;
  top:223px;
  width:172px;
  height:13px;
  font-size:11px;
  color:#999999;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:13px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:250px;
  top:238px;
  width:172px;
  height:13px;
  font-size:11px;
  color:#999999;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:13px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:250px;
  top:254px;
  width:172px;
  height:13px;
  font-size:11px;
  color:#999999;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:13px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:250px;
  top:270px;
  width:172px;
  height:13px;
  font-size:11px;
  color:#999999;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:13px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:250px;
  top:286px;
  width:172px;
  height:13px;
  font-size:11px;
  color:#999999;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:13px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:455px;
  top:222px;
  width:36px;
  height:29px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:29px;
}
#u37 {
  position:absolute;
  left:2px;
  top:6px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
