{% extends "layout/user.html" %}
{% block css%}
<link rel="stylesheet" href="/style2/css/EoFan.css" type="text/css" media="screen">
<link rel="stylesheet" href="/style2/css/user.css" type="text/css" media="screen">
<link href="/style2/css/plugins/dataTables.bootstrap.css" rel="stylesheet">
{% endblock %}
{% block subcontent %}
<script language="javascript" type="text/javascript" src="/style2/js/jquery.min.js"></script>
<script language="javascript" type="text/javascript" src="/style2/js/My97DatePicker/WdatePicker.js"></script>

<SCRIPT LANGUAGE="javascript">

</SCRIPT>
<style>
    .navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
    .pull-right {
    float: right!important;
}
    .navbar-left {
    float: left!important;
}
    .navbar-form {
    width: auto;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
    .navbar-form {
    padding: 0px 15px;
    margin-right: -15px;
    margin-left: -15px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1),0 1px 0 rgba(255,255,255,.1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1),0 1px 0 rgba(255,255,255,.1);
}
    .btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
    .btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
    .btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.btn-group>.btn:first-child {
    margin-left: 0;
}
    .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
    background-image: none;
}
    .btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}
    .navbar-form .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}
    .navbar-form .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}
.form-control {
    margin-left: 1px;
    float:none;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
    .btn-primary {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}
    .btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn-xs, .btn-group-xs > .btn {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
    .profile table a {
    color: #666;
    text-decoration: inherit;
}
    .profile .filter {
    border-bottom: none;
    }
    .profile .null_info {
        border-top:1px solid #DBD6D0;;
    }
    .red{color:red;}
</style>
<h1> 结算管理
    <span style="font-size: 11px;">
        可提现金额：<a href="/user/withdrawals"><span class="red">{{u.cashed_money}}</span>¥,去提现>></a>
        | 可结算金额：<a href="/user/settlement_orders/0"><span class="red">{{settle_money}}</span>¥,去结算>></a>
    </span>
</h1>
<div class="content">
    {%set messages=handler.get_flashed_messages() %}
    {%-if messages-%}
    <div style="color: red; font-size: 1.0em; margin-bottom: 25px;">
        <div id="err_div">
            {% for type, msg in messages%}
            {{msg}}
            {% endfor %}
        </div>
    </div>
    {%-endif-%}

    {% if total>0 %}
    <div class="normal_table">
        <table class="table table-hover" id="tb_users">
            <thead>
            <tr>
                <th>结算时间</th>
                <th>用户账户</th>
                <th>结算金额</th>
                <th>订单数</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for o in lists -%}
            <tr>
                <td>
                    {{o.created|datetimeformat}}
                </td>
                <td>
                    {{o.user.username}}
                </td>
                <td>{{o.sum_money}}</td>
                <td>{{o.settlement_orders.count()}}</td>
                <td><a href="/user/settlement_orders/{{o.id}}">提现详情</a></td>
            </tr>
            {%- endfor %}
            </tbody>
        </table>
        <div class="row">
        <div class="col-sm-4">
            <div class="dataTables_info" role="alert" aria-live="polite" aria-relevant="all">
                当前：第{{page}}页 / {{totalpage}}页，合计{{total}}条
            </div>
        </div>
        <div class="col-sm-8">
            <div class="dataTables_paginate paging_simple_numbers">
                <ul class="pagination  pagination-sm" id="pageUl" />
            </div>
        </div>
    </div>
    </div>
    {% else %}
    <div class="null_info">
        <h2>该条件下没有数据</h2>
    </div>
    {% endif %}
</div>


<script src="/style2/js/jquery.twbsPagination.min.js"></script>
<script>
    $(function() {
        $('#pageUl').twbsPagination({
            first:'首页',
            prev:'上一页',
            next:'下一页',
            last:'尾页',
            totalPages: {{totalpage}},
            startPage: {{page}},
        visiblePages: 8,
            onPageClick: function (event, page) {
                self.location="/admin/orders?page="+page;
            }
        });
    });


    function request(paras){
        var url = location.href;
        var paraString = url.substring(url.indexOf("?")+1,url.length).split("&");
        var paraObj = {}
        for (i=0; j=paraString[i]; i++){
            paraObj[j.substring(0,j.indexOf("=")).toLowerCase()] = j.substring(j.indexOf("=")+1,j.length);
        }
        var returnValue = paraObj[paras.toLowerCase()];
        if(typeof(returnValue)=="undefined"){
            return "-1";
        }else{
            return returnValue;
        }
    };

    $("#statuscheck").val(request('status'));
    if(!request('begindate'))
    {$("#begindate").val(request('begindate'));}
    if(!request('enddate'))
    {$("#enddate").val(request('enddate'));}

    $(function() {
        $('.showWL').hover(function () {
            var h = '';
            var ss = $(this);
            var wlNum = $(this).attr("data-num");
            setTimeout(function() {
                $.get('/ajax/getwlinfo', {deliverynum: wlNum}, function (data) {
                    data = eval(data);
                    data = jQuery.parseJSON(data);
                    if (data.status != '400') {
                        var wlInfo = data.data;
                        for (i = 0; i < wlInfo.length; i++) {
                            if (i == 0) {
                                h += '<li style="line-height: 30px; color:#1B730C; background: #E7E7E7; ">' + wlInfo[i].context + '<br />' + wlInfo[i].time + '</li>';
                            } else {
                                h += '<li style="line-height: 30px;">' + wlInfo[i].context + '<br />' + wlInfo[i].time + '</li>';
                            }
                        }
                    } else {
                        h += '<li style="line-height: 30px; color: #cc0000; background: #E7E7E7; ">参数错误：请检查物流单号是否正确。</li>';
                    }
                    h = '宅急送 运单号：' + wlNum + '<hr style="margin: 5px;">' + h + '';
                    ss.parent().find(".showInfo").html(h);
                });
                ss.parent().find(".showInfo").show();
            },1000)
        }, function () {
            $(this).parent().find(".showInfo").hide();
        });

    });
</script>
{% endblock %}