body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:500px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:240px;
  top:61px;
  width:260px;
  height:399px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:399px;
}
#u1 {
  position:absolute;
  left:2px;
  top:192px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:240px;
  top:61px;
  width:259px;
  height:29px;
  color:#000000;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:29px;
}
#u3 {
  position:absolute;
  left:0px;
  top:6px;
  width:259px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:240px;
  top:430px;
  width:130px;
  height:30px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:369px;
  top:430px;
  width:130px;
  height:30px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:255px;
  top:100px;
  width:225px;
  height:328px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:328px;
}
#u9 {
  position:absolute;
  left:2px;
  top:156px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
