body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:890px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:65px;
  top:50px;
  width:645px;
  height:440px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:645px;
  height:440px;
}
#u1 {
  position:absolute;
  left:2px;
  top:212px;
  width:641px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:70px;
  top:60px;
  width:100px;
  height:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u3 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:261px;
  top:60px;
  width:239px;
  height:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:20px;
}
#u5 {
  position:absolute;
  left:2px;
  top:2px;
  width:235px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:500px;
  top:60px;
  width:60px;
  height:20px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u7 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:610px;
  top:60px;
  width:80px;
  height:20px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u9 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:70px;
  top:100px;
  width:100px;
  height:30px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:190px;
  top:100px;
  width:110px;
  height:30px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:320px;
  top:100px;
  width:110px;
  height:30px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:450px;
  top:100px;
  width:110px;
  height:30px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:580px;
  top:100px;
  width:110px;
  height:30px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:70px;
  top:130px;
  width:100px;
  height:280px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:280px;
}
#u21 {
  position:absolute;
  left:2px;
  top:132px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:70px;
  top:130px;
  width:100px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:70px;
  top:145px;
  width:100px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:70px;
  top:161px;
  width:100px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:70px;
  top:177px;
  width:100px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:70px;
  top:193px;
  width:100px;
  height:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:190px;
  top:130px;
  width:500px;
  height:180px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:180px;
}
#u33 {
  position:absolute;
  left:2px;
  top:82px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:690px;
  top:130px;
  width:200px;
  height:80px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:80px;
}
#u35 {
  position:absolute;
  left:2px;
  top:32px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:690px;
  top:130px;
  width:60px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:690px;
  top:210px;
  width:200px;
  height:70px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:70px;
}
#u39 {
  position:absolute;
  left:2px;
  top:27px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:690px;
  top:210px;
  width:60px;
  height:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:190px;
  top:310px;
  width:490px;
  height:100px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:100px;
}
#u43 {
  position:absolute;
  left:2px;
  top:42px;
  width:486px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:70px;
  top:420px;
  width:610px;
  height:100px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:100px;
}
#u45 {
  position:absolute;
  left:2px;
  top:42px;
  width:606px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:70px;
  top:530px;
  width:610px;
  height:100px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:100px;
}
#u47 {
  position:absolute;
  left:2px;
  top:42px;
  width:606px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:70px;
  top:640px;
  width:610px;
  height:100px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:100px;
}
#u49 {
  position:absolute;
  left:2px;
  top:42px;
  width:606px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:70px;
  top:750px;
  width:610px;
  height:100px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:100px;
}
#u51 {
  position:absolute;
  left:2px;
  top:42px;
  width:606px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:70px;
  top:860px;
  width:610px;
  height:79px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:79px;
}
#u53 {
  position:absolute;
  left:2px;
  top:32px;
  width:606px;
  visibility:hidden;
  word-wrap:break-word;
}
