<ion-view view-title="确认订单" id="payment">
    <ion-content style="background: #e9e9e9">
        <div class="list card">
            <div class="item item-icon-left balanced item-button-right  ">
                <i class="icon  ion-ios7-calculator-outline"></i> 费用信息
            </div>
            <div class="item">
                商品金额
                <span class="item-note">
                {{order.price}}元
                </span>
            </div>

            <div class="item">
                运费
                <span class="item-note">
                {{order.shippingprice}}元
                </span>
            </div>

            <div class="item">
                优惠
                <span class="item-note">
                {{(order.price + order.shippingprice - order.currentprice) | number:2}}元
                 </span>
            </div>
            <div class="item">
                总价
                <span class="item-note">
                {{order.currentprice}}元
                </span>
            </div>
        </div>

        <div class="card">
            <div class="item balanced item-icon-left item-button-right ">
                <i class="icon ion-ios7-location-outline"></i>收货地址
            </div>
            <div class="item">
                <p>
                    {{order.take_address}}
                </p>
            </div>
        </div>

        <div class="list card">
            <div class="item item-icon-left balanced item-button-right">
                <i class="icon ion-ios7-barcode-outline"></i> 支付方式
            </div>
            <label class="item  item-radio" >
                <input type="radio" name="pay" value="2"  disabled ng-model="order.paymentValue" ng-if="balance <= 0 || balance < order.currentprice">
                <input type="radio" name="pay" value="2"  ng-model="order.paymentValue" ng-if="balance > 0 && balance >= order.currentprice">
                <p class="item-content">
                    使用余额
                    <br/>
                    <span class="assertive" ng-if="balance > 0 && balance >= order.currentprice">我的余额 {{balance}}元</span>
                    <span class="assertive" ng-if="balance <= 0 || balance < order.currentprice">余额不足, 请充值</span>
                </p>
                <i class="radio-icon  balanced ion-checkmark"></i>
            </label>
            <label class="item  item-radio" >
               <input type="radio" name="pay" value="1" ng-model="order.paymentValue">

                <p class="item-content">
                    支付宝
                </p>
                <i class="radio-icon  balanced ion-checkmark"></i>
            </label>
            <label class="item item-radio" ng-if="order.order_type === 0">
                <input type="radio" name="pay" value="0" ng-model="order.paymentValue">

                <p class="item-content">
                    货到付款
                </p>
                <i class="radio-icon  balanced ion-checkmark"></i>
            </label>
        </div>
        <div class="list card" ng-if="hiddenTimeRegion">
            <div class="item item-icon-left balanced item-button-right  ">
                <i class="icon ion-ios7-clock-outline"></i> 收货时间
            </div>
            <label class="item item-radio">
                <input type="radio" name="delivery_day" ng-model="order.deliverynum" value="weekday">

                <p class="item-content">
                    仅工作日
                </p>
                <i class="radio-icon balanced ion-checkmark"></i>
            </label>

            <label class="item item-radio">
                <input type="radio" name="delivery_day" ng-model="order.deliverynum " value="weekend">

                <p class="item-content">
                    仅双休日
                </p>
                <i class="radio-icon  balanced ion-checkmark"></i>
            </label>

            <label class="item item-radio">
                <input type="radio" name="delivery_day" ng-model="order.deliverynum" value="">

                <p class="item-content">
                    工作日/假日/周末 均可
                </p>
                <i class="radio-icon balanced ion-checkmark"></i>
            </label>
        </div>

        <div class="list card" ng-if="!hiddenTimeRegion">
            <div class="item item-icon-left balanced item-button-right  ">
                <i class="icon ion-ios7-clock-outline"></i>
                收货时间
            </div>
            <label class="item item-radio">
                <input type="radio" name="delivery_day" ng-model="order.delivery_day" value="morning">

                <p class="item-content">
                    {{timeRange <= 1?'今天':'明天'}}上午（8：00～11：00）
                </p>
                <i class="radio-icon balanced ion-checkmark"></i>
            </label>

            <label class="item item-radio">
                <input type="radio" name="delivery_day" ng-model="order.delivery_day" value="noon">

                <p class="item-content">
                    {{timeRange <= 2?'今天':'明天'}}中午（11：00～16：00）
                </p>
                <i class="radio-icon  balanced ion-checkmark"></i>
            </label>

            <label class="item item-radio">
                <input type="radio" name="delivery_day" ng-model="order.delivery_day" value="afternoon">

                <p class="item-content">
                    {{timeRange <= 3?'今天':'明天'}}下午（16：00～19：00）
                </p>
                <i class="radio-icon balanced ion-checkmark"></i>
            </label>


            <label class="item item-input">
                <textarea placeholder="留言信息" ng-model="order.msg"></textarea>
            </label>
        </div>
        <div style="height: 40px;">

        </div>
    </ion-content>
    <ion-footer-bar class=" bar-stable padding" style="height:auto;">

        <div class="row" style="padding:0">
            <div ng-if="renaminprice > 0" class="col " style="margin:0; padding:0;margin-left:5px; text-align:center;line-height: 48px">
                <span>还需支付 {{renaminprice}} 元</span>
            </div>

            <div class="col" style="width:100%; padding:0; margin:0; ">
                <button class="button  button-assertive button-full" style="margin: 0; height: 48px" ng-click="pay()" style="margin-top: 0">
                    立即支付
                </button>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>