<ion-modal-view view-title="选择区域">
  <ion-header-bar class="bar-dark">
    <div class="title">设置区域</div>
    <div class="buttons">
      <button class="button button-clear button-assertive icon ion-ios-close" ng-click="closeAreaModal()"></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <ion-list>
     <ion-item ng-click="setAllArea(true);">
       全部区域
     </ion-item>
      <ion-item ng-repeat="area in areas" ng-click="setArea(area.code);">
        {{area.name}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-modal-view>
