<ion-view view-title="修改密码">
    <ion-content>
        <div class="item item-input-inset">
            <label class="login-item-input-wrapper">
                <input type="password" placeholder="新密码" ng-model="newPassword">
            </label>
        </div>
        <div class="item item-input-inset">
            <label class="login-item-input-wrapper">
                <input type="password" placeholder="重复密码" ng-model="confirmPassword">
            </label>
        </div>

        <div class="padding">
            <button class="button button-block button-positive" ng-click="resetPassword()">修改</button>
        </div>
    </ion-content>
</ion-view>