<ion-view view-title="易凡服务">
    <ion-content>
        <div class="list">
            <a class="item item-icon-right" href="#/tab/gwzn">
                购物指南
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
            <a class="item item-icon-right" href="#/tab/zffs">
                如何支付
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
            <!--<a class="item item-icon-right" href="#">-->
            <!--会员说明-->
            <!--<i class="icon ion-chevron-right icon-accessory"></i>-->
            <!--</a>-->
            <a class="item item-icon-right" href="#/tab/peisong">
                配送服务
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
            <!--<a class="item item-icon-right" href="#">-->
            <!--给易凡网留言-->
            <!--<i class="icon ion-chevron-right icon-accessory"></i>-->
            <!--</a>-->
            <a class="item item-icon-right" href="#/tab/gyyfw">
                关于易凡网
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
            <!--<a class="item item-icon-left" href="#">-->
            <!--<i class="icon ion-ios-telephone balanced"></i>-->
            <!--服务电话： 400-967-6558-->
            <!--</a>-->
        </div>
        <div class="text-center">
            <label class="grey">内容版本 {{config.version}}</label>
        </div>
    </ion-content>
</ion-view>


