body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:503px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:240px;
  top:61px;
  width:260px;
  height:399px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:399px;
}
#u1 {
  position:absolute;
  left:2px;
  top:192px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:240px;
  top:61px;
  width:259px;
  height:29px;
  color:#000000;
  text-align:center;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:29px;
}
#u3 {
  position:absolute;
  left:0px;
  top:6px;
  width:259px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:240px;
  top:435px;
  width:50px;
  height:25px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u5 {
  position:absolute;
  left:450px;
  top:435px;
  width:50px;
  height:25px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u6 {
  position:absolute;
  left:290px;
  top:435px;
  width:50px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u7 {
  position:absolute;
  left:340px;
  top:435px;
  width:50px;
  height:25px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u8 {
  position:absolute;
  left:390px;
  top:435px;
  width:60px;
  height:25px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u9 {
  position:absolute;
  left:260px;
  top:100px;
  width:190px;
  height:25px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u10 {
  position:absolute;
  left:460px;
  top:100px;
  width:30px;
  height:25px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
}
#u11 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:447px;
  top:70px;
  width:56px;
  height:11px;
  font-size:10px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:11px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:240px;
  top:135px;
  width:264px;
  height:137px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:66px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:66px;
}
#u16 {
  position:absolute;
  left:2px;
  top:25px;
  width:82px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:86px;
  top:0px;
  width:86px;
  height:66px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:66px;
}
#u18 {
  position:absolute;
  left:2px;
  top:25px;
  width:82px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:172px;
  top:0px;
  width:87px;
  height:66px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:66px;
}
#u20 {
  position:absolute;
  left:2px;
  top:25px;
  width:83px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:0px;
  top:66px;
  width:86px;
  height:66px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:66px;
}
#u22 {
  position:absolute;
  left:2px;
  top:25px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:86px;
  top:66px;
  width:86px;
  height:66px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:66px;
}
#u24 {
  position:absolute;
  left:2px;
  top:25px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:172px;
  top:66px;
  width:87px;
  height:66px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:66px;
}
#u26 {
  position:absolute;
  left:2px;
  top:25px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:245px;
  top:140px;
  width:78px;
  height:55px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:55px;
}
#u28 {
  position:absolute;
  left:2px;
  top:20px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:350px;
  top:146px;
  width:52px;
  height:42px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:42px;
}
#u30 {
  position:absolute;
  left:2px;
  top:13px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:428px;
  top:140px;
  width:62px;
  height:54px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:54px;
}
#u32 {
  position:absolute;
  left:2px;
  top:19px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:240px;
  top:267px;
  width:260px;
  height:10px;
}
#u33_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_end {
  position:absolute;
  left:243px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_line {
  position:absolute;
  left:0px;
  top:5px;
  width:260px;
  height:1px;
}
#u34 {
  position:absolute;
  left:243px;
  top:277px;
  width:260px;
  height:68px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:63px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:63px;
}
#u36 {
  position:absolute;
  left:2px;
  top:24px;
  width:81px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:85px;
  top:0px;
  width:85px;
  height:63px;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:63px;
}
#u38 {
  position:absolute;
  left:2px;
  top:24px;
  width:81px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:170px;
  top:0px;
  width:85px;
  height:63px;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:63px;
}
#u40 {
  position:absolute;
  left:2px;
  top:24px;
  width:81px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:240px;
  top:340px;
  width:258px;
  height:10px;
}
#u41_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_end {
  position:absolute;
  left:241px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_line {
  position:absolute;
  left:0px;
  top:5px;
  width:258px;
  height:1px;
}
#u42 {
  position:absolute;
  left:241px;
  top:350px;
  width:262px;
  height:75px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:70px;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:70px;
}
#u44 {
  position:absolute;
  left:2px;
  top:27px;
  width:82px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:86px;
  top:0px;
  width:86px;
  height:70px;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:70px;
}
#u46 {
  position:absolute;
  left:2px;
  top:27px;
  width:82px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:172px;
  top:0px;
  width:85px;
  height:70px;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:70px;
}
#u48 {
  position:absolute;
  left:2px;
  top:27px;
  width:81px;
  word-wrap:break-word;
}
