body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:480px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:220px;
  top:30px;
  width:260px;
  height:410px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:410px;
}
#u1 {
  position:absolute;
  left:2px;
  top:197px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:221px;
  top:30px;
  width:259px;
  height:29px;
  color:#000000;
  text-align:center;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:29px;
}
#u3 {
  position:absolute;
  left:0px;
  top:6px;
  width:259px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:240px;
  top:69px;
  width:190px;
  height:25px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u5 {
  position:absolute;
  left:440px;
  top:69px;
  width:30px;
  height:25px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
}
#u6 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:240px;
  top:144px;
  width:60px;
  height:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u8 {
  position:absolute;
  left:2px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:230px;
  top:124px;
  width:240px;
  height:10px;
}
#u9_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_end {
  position:absolute;
  left:223px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_line {
  position:absolute;
  left:0px;
  top:5px;
  width:240px;
  height:1px;
}
#u10 {
  position:absolute;
  left:230px;
  top:104px;
  width:54px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:320px;
  top:144px;
  width:60px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u13 {
  position:absolute;
  left:2px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:400px;
  top:144px;
  width:60px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u15 {
  position:absolute;
  left:2px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
