<ion-view view-title="我的易凡">
    <ion-content id="mine-content">
        <div class="item text-center" style="background:transparent">
            <div class="padding">
                <h2 ng-show="user.nickname" class="stable">{{user.nickname}}</h2>

                <h2 ng-hide="user.nickname" class="stable">{{user.mobile.substr(0, 3)+'****' + user.mobile.substr(7,
                    4)}}</h2>
                <label class="energized ">积分 {{user.score}}</label>
            </div>

            <div>
                <button class="button button-normal alpha" ng-show="CHECKSTATUS == 'UNCHECKED'" ng-click="checkin()">
                    签到
                </button>
                <button class="button button-normal alpha" ng-show="CHECKSTATUS == 'CHECKING'">正在签到 ...</button>
                <button class="button button-normal alpha" ng-show="CHECKSTATUS == 'CHECKED'">已连续签到 {{checkDays}} 天
                </button>
            </div>
        </div>
        <div class="list" id="mine-list">
            <a class="item item-icon-right" href="#/tab/order">
                全部订单
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
            <a class="item item-icon-right" href="#/tab/favorite">
                我的收藏
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
            <a class="item item-icon-right" href="#/tab/cost">
                账户余额
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
            <a class="item item-icon-right" href="#/tab/coupons">
                优惠券
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
            <a class="item item-icon-right" href="#/tab/address">
                管理地址
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
             <a class="item item-icon-right" href="#/tab/gifts">
                赠品管理
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
            <a class="item item-icon-right" ng-click="invite()">
                邀请好友
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
            <a class="item item-icon-right" href="#/tab/service">
                易凡服务
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
            <a class="item item-icon-right" ng-click="buyWithPhone()">
                电话订购
                <i class="icon ion-android-call icon-accessory"></i>
            </a>
        </div>
        <div class="padding">
            <button class="button button-block button-assertive " ng-click="logout()">
                退出登录
            </button>

            <button class="button button-block button-stable " ng-click="resetPassword()">
                修改密码
            </button>
        </div>
    </ion-content>
</ion-view>
