<ion-view view-title="车装甲">
    <!--<ion-nav-buttons side="secondary">-->
        <!--<button class="button button-icon icon ion-ios7-search" ng-click="search()"></button>-->
    <!--</ion-nav-buttons>-->
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios7-location-outline" ng-click="nearby()"></button>
    </ion-nav-buttons>
    <ion-content scroll="false">
        <ion-scroll zooming="false" direction="y" delegate-handle="categoriesNameScroll" style="width:35%; height: 100%; float:left; padding-right:10px;">
            <div class="list">
                <div  ng-repeat="category in categories" style="border-right:1px solid #ddd">
                    <a class="item item-y {{( category.name == choose)?'select light balanced':''}}"
                       style="font-size: 11px; padding: 8px;text-align: center"
                       id="{{category.code}}"
                       ng-click="showProduct(category.code, category.name)">
                        {{category.name}}
                    </a>
                </div>
            </div>
        </ion-scroll>
        <ion-scroll zooming="false"  direction="y" style="width:65%;height: 100%;float:left" delegate-handle="categoriesProductScroll">
            <div class="list" style="border-left:1px solid #ddd">
                <ion-item bindonce="item" ng-repeat="item in products"
                          class="item item-thumbnail-left" ng-click="showDetail(item.id)">
                    <!--<img image-lazy-src="{{item.img}}">-->
                    <img ng-src="{{config.domain}}/upload/{{item.sku}}/{{item.cover}}">
                    <h2>{{item.name}}</h2>
                    <p>
                        <label class="grey">{{item.standard}}</label>
                        <br/>
                        <label class="italic assertive h4">{{item.price}}</label><label class="grey">元/份</label>
                    </p>
                </ion-item>
            </div>
        </ion-scroll>
    </ion-content>
</ion-view>
